.row {
  max-width: 100%;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-1-of-6 {
  width: calc((100% - 5 * 6rem) / 6);
}

.col-2-of-6 {
  width: calc(2 * (100% - 5 * 6rem) / 6 + 6rem);
}

.col-5-of-6 {
  width: calc(5 * (100% - 5 * 6rem) / 6 + 4 * 6rem);
}

.app {
  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.tab--container {
  flex-basis: 232px;
  flex-shrink: 0;
}

.tab--header {
  margin-right: 2rem;
}

.logo {
  margin-top: 0.6rem;
  max-width: 100%;
  height: auto;
}

.icon {
  font-size: 1.5rem;
  margin-right: 16px;
}

.main {
  overflow: hidden;
  flex-grow: 1;
  background-color: rgba(60, 53, 53, 0.686);
}

.tab--menus__list {
  padding: 0;
}

.tab--menus__item {
  margin: 1rem 0.5rem;
}

.tab--playlist li.tab--menus__item:last-child {
  padding-bottom: 0.5em;
  border-bottom: 1px solid gray;
}

.tab--menu__link {
  color: gray;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab--menu__link:hover {
  color: white;
}

.tab--playlist__list {
  border-bottom: 1px solid gray;
}

.tab--playlist__header {
  color: gray;
  font-size: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 2.5rem;
}

.header {
  box-sizing: border-box;
  padding: 0 2rem;
  margin: 0 auto;
  position: fixed;
  height: 60px;
  width: calc(100% - 232px);
  top: 0;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__box-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.formSearch {
  margin: 0 5px;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.iconSearch {
  font-size: 1.5rem;
  margin: 0 10px;
  border: 0;
}

.searchInput {
  border: 0;
  height: 1.5rem;
  width: 20rem;
}

input.searchInput:focus {
  border: 0 solid #fff;
}

.btn {
  color: white;
  text-align: center;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search-buttons {
  margin: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-search-result {
  background-color: rgba(128, 128, 128, 0.692);
  width: 180px;
  height: 40px;
}

.btn--control {
  border-radius: 50%;
  font-size: 16px;
  height: 35px;
  width: 35px;
}

.header__box-right {
  display: flex;
  flex-direction: row;
}

.btn-header {
  width: 180px;
  height: 40px;
  border-radius: 26px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid white;
}

.btn-user {
  justify-content: space-evenly;
}

.user-name {
  display: inline-block;
}

.albums-container,
.artists-container,
.playlist-container,
.main-container {
  padding: 1rem 2rem;
  margin-top: 40px;
}

.main-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.main__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main__header--title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.96px;
}

.main__header--view-all {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(179, 179, 179);
}

.main--link {
  text-decoration: none;
}

.main--des {
  margin: 0;
  color: rgb(179, 179, 179);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.21px;
}

.row-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(197.8px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(272.8px, 1fr));

  grid-gap: 26px;
}

.item {
  border-radius: 4px;
  background-color: rgba(15, 14, 14, 0.493);
  padding: 14px;
}

.item:hover {
  background-color: rgba(179, 179, 179, 0.1);
}

.card-box:hover {
  background-color: rgba(126, 120, 120, 0.267);
}

.img__header-music--out {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.9), 0 3px 6px 0 rgba(0, 0, 0, 0.89);
  height: 169.8px;
  width: 169.8px;
}

.img__header-music--in {
  box-shadow: 0 4px;
}

.card-image-link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
}

.header--tittle {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  margin-top: 10px;
}

.header--desic {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  color: rgb(179, 179, 179);
  margin-top: 10px;
}

.search-container {
  padding: 1rem 2rem;
  margin-top: 40px;
}

.search-titile-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.category-container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(182px, 1fr));
}

.category-titile {
  color: #fff;
  font-size: 24px;
  padding: 16px;
  line-height: 1.3em;
  letter-spacing: -0.04em;
  overflow-wrap: break-word;
  position: absolute;
}

.category-item {
  background-color: gray;
  height: 182px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.image-category {
  position: absolute;
  z-index: 9999;
  right: 0;
  bottom: 0;
  transform: translate(18%) rotate(25deg);
}

.redirect-container {
  padding: 1rem 0rem;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.redirect-user-header {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -60px;
  height: 340px;
}
.dashboard {
  min-height: 100vh;
}
.hide {
  display: none;
}

.active {
  background-color: rgba(8, 248, 0, 0.801);
}

.searchForm-header {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchInput {
  height: 45px;
  width: 60vw;

  margin: 10px auto;
  padding-left: 6%;
  padding-right: 3%;
  border-radius: 24px;
}
.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}
.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: #fff;
  letter-spacing: 1px;
}
